/* Link to help with adding this site to my wordpress site:  https://blog.hubspot.com/website/upload-html-file-to-wordpress */

* {
   box-sizing: border-box;
}

/* FONT STYLE */
 h1 {
   font-family: 'Century Gothic', sans-serif;
   font-weight:bolder;
   font-size: 6em;
   line-height: .8em;
   margin-top: 20px;
   margin-bottom: .4em;
}
 h2 {
   font-family: 'Century Gothic', sans-serif;
   font-size: 2em;
   line-height: 0;
   margin-bottom: .2em;
   margin-top: 2em;
 }
p {
   font-family:'Segoe UI', sans-serif;
   font-size: 1em;
}
.sidebar  {
   font-family:'Segoe UI', sans-serif;
   font-size: 1em;
}


/* PAGE IMAGE STYLES */
 .outer-grid {
   margin-left: 200px; 
   display: flex;
   flex-wrap: wrap;
   padding: 0;
}
 .inner-grid {
   flex: 25%;
   max-width: 25%;
   padding: 0 2px;
 }
 .inner-grid img {
   margin-top: 4px;
   width: 100%;
   padding: 10px;
   border-radius: 10%;
 }
 body {
    margin: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #E0FBFC;
    color:#293241;
 }
section {
   margin-left: 200px;
   padding: 20px;
}

/* HOMEPAGE IMAGE HOVER STYLES */
.container {
   margin-left: 200px; 
   display: flex;
   flex-wrap: wrap;
   padding: 0;
}
.image {
   margin-top: 0px;
   width: 25%;
   padding: 10px;
   flex: wrap;
}
.image_img {
   margin-top: 4px;
   width: 100%;
   padding: 10px;
   border-radius: 10%;
 }
.image_overlay {
   position: relative;
   top: 400px;
   width: auto;
   height: auto;
   background:#293241;
   color: white;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}
.image:hover {
   opacity: .3;
}

/* LOGO */
header img {
   display: flex;
   padding: 25px;
}

/* SIDEBAR STYLE */
 .sidebar {
   margin: 0;
   padding: 0;
   width: 200px;
   background-color: #98C1D9;
   position: fixed;
   height: 100%;
   overflow: auto;
 }

/* Sidebar Links*/
 .sidebar a {
   display: block;
   color: black;
   padding: 16px;
   text-decoration: none;
   display: flex;
 }

 /*Active/Current Link*/
 .sidebar a.active {
   background-color:#EE6C4D;
   color: white;
 }

 /* Links on Mouse-Over */
 .sidebar a:hover:not(.active) {
   background-color: #3D5A80;
   color: white;
}

/* FOOTER STYLE */
footer {
   margin-left: 200px;
   position: none;
   padding: 20px;
}

/* FLEX SETTINGS */
@media screen and (max-width: 900px) {
   .sidebar {
      width: 100%;
      height: auto;
      position: relative;
   }
   .sidebar a {
      float: left;
   }

   h1 {
      font-size: 5em;
   }
   footer {
      margin-left: 0px;
      
   } /*this isn't working. figure out why */


   /* PAGE IMAGE FLEX */
   section {
      margin-left: 0;
      padding: 20px;
   }
   .outer-grid {
      margin-left: 0;
   }
   .inner-grid {
      flex: 50%;
      max-width: 50%;
   }

   /* HOMEPAGE IMAGE FLEX */
   .container {
      margin-left: 0;
      padding: 20px;
   }
   .image {
      flex: 50%;
      max-width: 50%;
   }
}
 @media screen and (max-width: 600px) {
   .inner-grid {
   flex: 100%;
   max-width: 100%;
   }
   h1 {
      font-size: 3em;
   }
   .image {
      flex: 100%;
      max-width: 100%;
   }
   footer {
   margin-left: 20px;
   }
 }
@media screen and (max-width: 400px) {
   .sidebar a {
      text-align: center;
      float: none;
   }
   h1 {
      font-size: 2em;
   }
   footer {
      margin-left: 200px;
      }
   }